body {
    max-width: 700px;
    margin: auto;
    font-family: "georgia";
    padding: 2cm;
    color: whitesmoke;
    background-color: rgb(24, 44, 44);
}
a {
    color: rgb(194, 194, 194);
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
}
img {
    width: 100%;
}

.header {
    text-align: center;
}

li p {
    margin: 1rem;
}